        /* title */
        
        h1 {
            color: rgb(132, 183, 201);
            font-size: 50px;
            font-family: Math script;
            font-weight: lighter;
            text-align: center;
        }
        
        .title {
            text-align: justify;
            padding: 20px;
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            width: 80%;
        }

        body {
            background-color: rgb(220, 220, 220);
        }

        /* Section about me  */
        
        .section-aboutme {
            background-color: white;
            text-align: justify;
            padding-top: 10px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            border-radius: 4px;
            border-radius: 4px;
            box-shadow: 0px 10px 30px rgb(189, 189, 189);
            margin-left: auto;
            margin-right: auto;
            font-family: Calibri light;
            width: 80%;
            
        }
        
        .section-aboutme h2 {
            color: white;
            font-size: 18px;
            font-family: Calibri light;
            background-color: rgb(6, 37, 37);
            font-weight: lighter;
            letter-spacing: 2px;
            text-align: center;
            border-radius: 2px;
        }

		li {
            font-size: 16px;
            font-family: Calibri light;
            text-align: center;
            font-weight: lighter;
		}


        .section-aboutme img {
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;   
        }

        /* my skills */
        
        .section-myskills {
            background-color: white;
            padding-top: 10px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            border-radius: 4px;
            box-shadow: 0px 10px 30px rgb(189, 189, 189);
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            text-align: justify;
            font-family: Calibri light;
            width: 80%;
        }
        
        .section-myskills h2 {
            color: white;
            font-size: 18px;
            font-family: Calibri light;
            background-color: rgb(6, 37, 37);
            font-weight: lighter;
            letter-spacing: 2px;
            text-align: center;
            border-radius: 2px;
        }

        .section-myskills h3 {
            text-align: center;
            font-size: 18px;
            font-family: Arial narrow;
        }
        
        .section-myskills img {
            border-radius: 50%;
            border: 1px solid rgb(232, 232, 232);
            display: block;
            margin-left: auto;
            margin-right: auto;
            
        }
        
        .list-middle ul {
            list-style-type: none;
            text-align: center;
            padding-inline: 0px;
        }

		/* education & experience */

		.section-experience {
            background-color: white;
            padding-top: 10px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            border-radius: 4px;
            box-shadow: 0px 10px 30px rgb(189, 189, 189);
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            text-align: justify;
            font-family: Calibri light;
            width: 80%;
        }

        .timeline-block {
        text-align: center;
        }

        .vl {
  		border-left: 2px solid black;
 		height: 30px;
  		left: 50%;
  		margin-left: -3px;
  		top: 0;
  		position:relative;
    	text-align:center
		}

        .section-experience h2 {
            color: white;
            font-size: 18px;
            font-family: Calibri light;
            background-color: rgb(6, 37, 37);
            font-weight: lighter;
            letter-spacing: 2px;
            text-align: center;
            border-radius: 2px;
        }

        .section-experience h3 {
            text-align: center;
            font-size: 18px;
            font-family: Arial narrow;
        }

        .section-experience p {
            text-align: center;
            font-size: 18px;
            font-family: Calibri light;
            line-height: 20%;
            
        }

        .section-date {
        	color: rgb(132, 183, 201);
        }

        #description {
        	font-style: italic;

        }

		/* resume */

		.section-resume {
            background-color: white;
            padding-top: 10px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            border-radius: 4px;
            box-shadow: 0px 10px 30px rgb(189, 189, 189);
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            text-align: justify;
            font-family: Calibri light;
            width: 80%;
            text-align: center;
        }

        .section-resume h2 {
            color: white;
            font-size: 18px;
            font-family: Calibri light;
            background-color: rgb(6, 37, 37);
            font-weight: lighter;
            letter-spacing: 2px;
            text-align: center;
            border-radius: 2px;
        }

        .section-resume ul {
        	list-style-type: none;
            text-align: center;
            padding-inline: 0px;
        }

        .resumelist-inline {
            list-style: none;
            padding: 0;
        }

        .resumelist-inline li {
            padding: 20px;
            line-height: 20%;
            line-height: 90%;
        }        

        a {
            text-decoration: none;
            font-family: arial narrow;
            letter-spacing: 2px;
            font-style: italic;
            color: rgb(132, 183, 201);
        }

        .resumetlist-inline i {
            font-size: 50px;
            color: rgb(132, 183, 201);
        }

        .btn-blue {
            background-color: rgb(132, 183, 201);
            padding: 15px 20px;
            text-transform: uppercase;
            border-radius: 4px;
            color: white;
        }

        /* FOLLOW ME */

        .section-followme {
            background-color: white;
            padding-top: 10px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            border-radius: 4px;
            box-shadow: 0px 10px 30px rgb(189, 189, 189);
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            text-align: justify;
            font-family: Calibri light;
            width: 80%;
            text-align: center;
        }

        .section-followme h2 {
            color: white;
            font-size: 18px;
            font-family: Calibri light;
            background-color: rgb(6, 37, 37);
            font-weight: lighter;
            letter-spacing: 2px;
            text-align: center;
            border-radius: 2px;
        }

        .list-inline {
			list-style: none;
    		padding: 0;
        }

        .list-inline li {
    		display: inline-block;
    		padding: 20px;
    	}

    	a {
    		text-decoration: none;
		}

		.list-inline i {
    		font-size: 50px;
    		color: rgb(132, 183, 201);
		}


     
